@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-bar-chart .apexcharts-bar-area rect {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 2px; /* Adjust the width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the scrollbar track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
  border-radius: 4px; /* Rounded corners of the scrollbar thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar thumb on hover */
}
